<div class="todo-generator">
    <h1 class="h1">Todo App</h1>
    <div class="row-1">
        <div appItemGrow>
            <label for="formControlTitleInput" class="form-label">Title</label>
            <input type="text" class="form-control" id="formControlTitleInput" #todoTitle />
        </div>
        <div appItemGrow [grow-value]="6">
            <label for="formControlDescriptionInput" class="form-label">Description</label>
            <input
                type="email"
                class="form-control"
                id="formControlDescriptionInput"
                #todoDescription
            />
        </div>
    </div>
    <div class="row-2">
        <div appItemGrow>
            <label for="formControlPriorityInput" class="form-label">Priority</label>
            <select class="form-select" id="formControlPriorityInput" #todoPriority>
                <option selected value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
        </div>
        <div appItemGrow>
            <label for="formControlStatusInput" class="form-label">Status</label>
            <select class="form-select" id="formControlStatusInput" #todoStatus>
                <option selected value="completed">Completed</option>
                <option value="not-completed">Not completed</option>
            </select>
        </div>
        <div>
            <button (click)="addNewTodo()">Add todo</button>
        </div>
    </div>
</div>
