.todo-generator {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 8px;

    h1 {
        margin-bottom: 1rem;
        color: var(--app-primary-color);
    }

    .row-1 {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}
