<div class="todo-generator">
    <h1 class="h1">Todo App</h1>
    <div class="row-1">
        <div appItemGrow>
            <label for="formControlTitleInput" class="form-label">Title</label>
            <input type="text" class="form-control" id="formControlTitleInput" />
        </div>
        <div appItemGrow [grow-value]="6">
            <label for="formControlDescriptionInput" class="form-label">Description</label>
            <input type="email" class="form-control" id="formControlDescriptionInput" />
        </div>
    </div>
</div>
